[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = ">=0.23.0"
requests = "==2.32.0"
imagesize = ">=1.4.0"
pydantic = "==2.11.3"

[dev-packages]

[requires]
python_version = "3.9"
