[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = ">=0.23.0"
requests = ">=2.28.0"
imagesize = ">=1.4.0"
pydantic = "==1.10.2"

[dev-packages]

[requires]
python_version = "3.9"
